.c-a-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
  padding: 20px;
  background-color: #152242;
  justify-content: center;
  display: flex;
}

.c-a-text-container {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.c-a-button-wrapper {
  margin-left: 24px;
}

.c-a-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 15px;
  height: 40px;
  background-color: #fff;
  color: #0468ff;
}

#cookie-agreement-modal .modal-body {
  overflow: auto;
}

/*
.catalog-menu{

}

.catalog-menu>li{
float: left;
line-height: 40px;
margin: 0 13px;float: left;
}

.catalog-sub-menu{
visibility: hidden;
position: absolute;
background: white;
width: 100%;
right: 0px;
padding: 0 20%;
opacity:0;
transition: 0.5s;
}

.catalog-menu>li:hover .catalog-sub-menu{
visibility:visible;
opacity:1;
transition: 0.5s;
}

.catalog-sub-menu>ul>li{
float: left;
padding: 10px;
width: 25%;
}

.catalog-sub-menu>ul>li>ul>li{
padding-left: 10px;
}

.js-colors{}
.js-colors a{}

.js-sizes{}
.js-sizes a{
  margin-left: 5px;
  padding: 2px 1px 1px;
  border: 1px solid #323232;
  background-color: #f7f7f7;
  color: #323232;
  cursor: pointer;
  font-size: 0.9rem;
}
.js-sizes a.active{
  background-color: #323232;
  color: #fff;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 500px;
  margin: 0px auto;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/*** 31-01-23 ***/
.special-offer-slider .slick-prev {
  background: url(../images/arrow-slider-prev.png) no-repeat center center;
  z-index: 1;
  top: calc(50% - 10px);
  ;
}

.special-offer-slider .slick-next {
  background: url(../images/arrow-slider-next.png) no-repeat center center;
  z-index: 1;
  top: calc(50% - 10px);
}

.slider-wrapper .slick-prev,
#sport .slick-prev,
.special-offer-slider .slick-prev {
  left: 2%;
}

.slider-wrapper .slick-next,
#sport .slick-next,
.special-offer-slider .slick-next {
  right: 2%;
}

/* cards */
.products .product-wrap {
  height: 100%;
  min-height: 435px;
  padding-bottom: 30px;
  margin-bottom: 0;
}

.product-wrap .text-block {
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
  margin-top: 0px;
  background-color: #fff;
  padding-bottom: 15px;
}

.product-wrap .text-block .price-wrap {
  display: flex;
  align-items: baseline;
  flex-grow: 1;
}

.product-nav-dots {
  margin-left: 0px;
  flex-wrap: wrap;
}

/* cards end */

@media (max-width: 1201px) {
  .special-offer-slider .slick-prev {
    left: 5%;
  }

  .special-offer-slider .slick-next {
    right: 5%;
  }
}