.search-page .search-page__wrap, .content-page .content-wrap {
  padding-top: 40px;
  padding-bottom: 50px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 400px) {
  .search-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.search-form .search-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-form .search-form__item.search-form__item_input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 500px;
}

.search-form .search-form__item input {
  padding: 10px 15px;
  height: 43px;
  width: 100%;
}

.search-form .search-form__button {
  height: 43px;
  font-weight: 400;
  color: #323232;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  padding: 10px 15px;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  letter-spacing: 1px;
}

.search-form .search-form__button:hover {
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 0 1px #000;
          box-shadow: inset 0px 0px 0 1px #000;
  background-color: #fff;
  color: #323232;
}

.button {
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  text-transform: uppercase;
}

@media (max-width: 575px) {
  #modalCart .modal-header {
    padding: 5px 15px 0;
    border: none;
  }
}

@media (max-width: 575px) {
  #modalCart .modal-body {
    padding: 0 5px 3px;
  }
}

@media (max-width: 575px) {
  #modalCart .modal-content h5 {
    font-size: 0.9rem;
  }
}

#modalCart .modal-body__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#modalCart .modal-body__img {
  max-width: 125px;
  height: auto;
  padding: 0 15px;
}

@media (max-width: 575px) {
  #modalCart .modal-body__img {
    max-width: 50px;
    padding: 5px;
  }
}

#modalCart .modal-body__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media (max-width: 575px) {
  #modalCart .modal-body__text {
    padding: 5px;
  }
}

#modalCart .modal-body__text h4 {
  font-size: 1rem;
}

@media (max-width: 575px) {
  #modalCart .modal-body__text h4 {
    font-size: 0.8rem;
    margin-bottom: 0;
    line-height: 0.9;
  }
}

@media (max-width: 575px) {
  #modalCart .modal-footer {
    border: none;
    padding: 0px;
  }
}

#modalCart .modal-footer .buttons-wrap {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 575px) {
  #modalCart .modal-footer .buttons-wrap {
    padding-bottom: 10px;
  }
}

@media (max-width: 575px) {
  #modalCart .modal-footer .buttons-wrap .btn {
    display: none;
  }
  #modalCart .modal-footer .buttons-wrap .btn.basket {
    display: block;
    padding: 7px 0 5px;
    color: #323232;
    background-color: #fff;
    width: 90%;
    line-height: 1;
  }
}

.number-of-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.number-of-goods .number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border: 1px solid #999999;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -5px;
  border-radius: 25px;
}

.number-of-goods .number a:last-child {
  border-right: none;
  border-left: 1px solid #999999;
}

.number-of-goods .number .number__text {
  border: none;
  width: 35px;
  text-align: center;
}

.number-of-goods label {
  margin-right: 10px;
}

.number-of-goods a {
  border-right: 1px solid #999999;
  padding: 0px 10px 0px;
  font-size: 1.2rem;
  color: #000;
  background: #f2f6f6;
}
/*# sourceMappingURL=main_new.css.map */