// @import "_nullstyle.scss";
//tpl-s
%tpl_page_wrap {
    padding-top: 40px;
    padding-bottom: 50px;
}

.search-page {
    .search-page__wrap {
        @extend %tpl_page_wrap;
    }
}

.search-form {
    display: flex;
    @media (max-width: 400px) {
        flex-direction: column;
    }
    .search-form__item {
        display: flex;
        margin-right: 15px;
        margin-bottom: 15px;
        justify-content: flex-end;
        &.search-form__item_input {
            flex: 1 1 auto;
            max-width: 500px;
        }
        input {
            padding: 10px 15px;
            height: 43px;
            width: 100%;
        }
    }
    .search-form__button {
        height: 43px;
        font-weight: 400;
        color: #323232;
        background-color: #fff;
        border: 1px solid rgb(229, 229, 229);
        padding: 10px 15px;
        font-size: 0.8rem;
        line-height: 1.5;
        border-radius: 0.25rem;
        letter-spacing: 1px;
        &:hover {
            border: 1px solid rgb(229, 229, 229);
            box-shadow: inset 0px 0px 0 1px #000;
            background-color: #fff;
            color: #323232;
        }
    }
}

.button {
    display: inline-block;
    text-align: center;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.content-page {
    .content-wrap {
        @extend %tpl_page_wrap;
    }
}

//modal
#modalCart {
    .modal-header {
        @media (max-width: 575px) {
            padding: 5px 15px 0;
            border: none;
        }
    }
    .modal-body {
        @media (max-width: 575px) {
            padding: 0 5px 3px;
        }
    }
    .modal-content {
        h5 {
            @media (max-width: 575px) {
                font-size: 0.9rem;
            }
        }
    }
    .modal-body__wrap {
        display: flex;
    }
    .modal-body__img {
        max-width: 125px;
        height: auto;
        padding: 0 15px;
        @media (max-width: 575px) {
            max-width: 50px;
            padding: 5px;
        }
    }
    .modal-body__text {
        display: flex;
        align-items: center;
        padding: 0 15px;
        @media (max-width: 575px) {
            padding: 5px;
        }
        h4 {
            font-size: 1rem;
            @media (max-width: 575px) {
                font-size: 0.8rem;
                margin-bottom: 0;
                line-height: 0.9;
            }
        }
    }

    .modal-footer {
        @media (max-width: 575px) {
            border: none;
            padding: 0px;
        }
        .buttons-wrap {
            width: 100%;
            justify-content: center;
            @media (max-width: 575px) {
                padding-bottom: 10px;
            }
            .btn {
                @media (max-width: 575px) {
                    & {
                        display: none;
                    }
                    &.basket {
                        display: block;
                        padding: 7px 0 5px;
                        color: #323232;
                        background-color: #fff;
                        width: 90%;
                        line-height: 1;
                    }
                }
            }
        }
    }
}

//form number of goods in cart
.number-of-goods {
    display: flex;
    .number {
        display: flex;
        overflow: hidden;
        border: 1px solid #999999;
        justify-content: center;
        position: relative;
        top: -5px;
        border-radius: 25px;
        & a:last-child {
            border-right: none;
            border-left: 1px solid #999999;
        }
        .number__text {
            border: none;
            width: 35px;
            text-align: center;
        }
    }
    label {
        margin-right: 10px;
    }
    a {
        border-right: 1px solid #999999;
        padding: 0px 10px 4px;
        font-size: 1.2rem;
        color: #000;
        background: #f2f6f6;
    }
}
